apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  labels:
    app: nginx
spec:
  replicas: 1                  # Peut être patché dans dev/prod
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: nginx:latest   # Peut être patché dans overlays
          ports:
            - containerPort: 80
          env:
            - name: ENV
              value: "base"     # Peut être patché dans overlays
